# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/ .
.env/
secrets/
.env

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
# myfiles
diagrams/
database/
docker-compose.yml
forme.py